### SublimeText ###
*.sublime-workspace
*.sublime-project

### Hugo ###
/public/
/themes/
/resources/
.hugo_build.lock

### Visual Studio Code ###
.settings/
.vscode/

### Website ###
/static/google*.html
.idea
